@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root::selection {
  color: black;
  background-color: bisque;
}

@theme {
  --shadow-bottom: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}

@utility container {
  max-width: unset;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.placeholder {
  display: flex;
  width: 100%;
  min-width: 0;
}

.placeholder::placeholder {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  overflow: hidden;
}
