@import "tailwindcss";
@import "@fontsource/mona-sans";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

input:autofill {
  display: hidden;
}

@utility font-mono {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}
@utility font-georgia {
  font-family: Georgia, "Times New Roman", serif;
}

:root::selection {
  color: black;
  background-color: bisque;
}

@theme {
  --breakpoint-xxl: 1330px;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 960px;
  --breakpoint-md: 790px;
  --breakpoint-sm: 615px;
  --shadow-bottom: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
  --shadow-bottom_s: 0px 4px 5px -2px rgba(0, 0, 0, 0.05);
  --shadow-pink: 0px 0px 0px 4px #f01ab717;
  --linear-article: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.0001),
    rgba(0, 0, 0, 0.0005),
    rgba(0, 0, 0, 0.002),
    rgba(0, 0, 0, 0.004),
    rgba(0, 0, 0, 0.005),
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}

@utility container {
  width: auto;
  max-width: unset;
  margin-inline: 1rem;
  @media screen and (min-width: 790px) {
    margin-inline: 40px;
  }
  @media screen and (min-width: 1200px) {
    margin-inline: 4.5rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "ss01";
  background: var(--background);
  color: var(--foreground);
}

.placeholder {
  display: flex;
  width: 100%;
  min-width: 0;
}

.placeholder::placeholder {
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
  overflow: hidden;
}
